body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    height: 100vh;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    margin-top: 10px;
    width: 100px;
}
span {
    margin-bottom: 10px;
}